<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Restaurant</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlet.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcategoryservlet</display-name>
    <servlet-name>addcategoryservlet</servlet-name>
    <servlet-class>com.servlet.addcategoryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcategoryservlet</servlet-name>
    <url-pattern>/addcategoryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addfoodServlet</display-name>
    <servlet-name>addfoodServlet</servlet-name>
    <servlet-class>com.servlet.addfoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfoodServlet</servlet-name>
    <url-pattern>/addfoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefServelet</display-name>
    <servlet-name>chefServelet</servlet-name>
    <servlet-class>com.servlet.chefServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefServelet</servlet-name>
    <url-pattern>/chefServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ordersServlet</display-name>
    <servlet-name>ordersServlet</servlet-name>
    <servlet-class>com.servlet.ordersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ordersServlet</servlet-name>
    <url-pattern>/ordersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tableServlet</display-name>
    <servlet-name>tableServlet</servlet-name>
    <servlet-class>com.servlet.tableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tableServlet</servlet-name>
    <url-pattern>/tableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletefoodServlet</display-name>
    <servlet-name>deletefoodServlet</servlet-name>
    <servlet-class>com.servlet.deletefoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletefoodServlet</servlet-name>
    <url-pattern>/deletefoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatechefsServlet</display-name>
    <servlet-name>updatechefsServlet</servlet-name>
    <servlet-class>com.servlet.updatechefsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatechefsServlet</servlet-name>
    <url-pattern>/updatechefsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatestatusServlet</display-name>
    <servlet-name>updatestatusServlet</servlet-name>
    <servlet-class>com.servlet.updatestatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatestatusServlet</servlet-name>
    <url-pattern>/updatestatusServlet</url-pattern>
  </servlet-mapping>
</web-app>